html, body {
  font-family:"verdana","arial", sans-serif;
  background-color:#F5F5F5;
  color:#5E5E5E;
  text-shadow: 0px 1px 1px #ffffff;
  filter: dropshadow(color=#ffffff, offx=0, offy=1);
  width:100%;
  height:100%;
  padding:0px;
  margin:0px;
}

#header{
  
  width:100%;
  height:65px;
  margin-top:0;
  padding-top:0;
  background: #fcfff4; /* old browsers */
  background: -moz-linear-gradient(top, #fcfff4 0%, #EDEDED 99%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(99%,#EDEDED)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#EDEDED',GradientType=0 ); /* ie */
}

#header_shadow{
  height:6px;
  width:100%;
  background: #EDEDED; /* old browsers */
  background: -moz-linear-gradient(top, #D1D1D1 0%, #F5F5F5 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D1D1D1), color-stop(100%,#F5F5F5)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D1D1D1', endColorstr='#F5F5F5',GradientType=0 ); /* ie */
  background-color:black;
}

#header_div{
  margin: 0 auto;
  font-size:35px;
  width:900px;
  padding-top:8px;
}

#header_rightside{
  float:right;
  font-size:15px;
  margin-top:15px;
}

#header_leftside{
  float:left;
  margin-top:15px;
}

/* === BODY ===*/

#body_div{
  margin: 0 auto;
  width:900px;
}

#main{
  padding:20px;
  float:left;
  height:900px;
  width:100%;
}

h1{
  font-size:25px;
}